@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Playfair Display", serif;
font-family: "Poppins", serif; */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:  "Playfair Display", serif;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 240px;
    background-color: #272d3467;
    -webkit-backdrop-filter: saturate(200%) blur(10px);
    backdrop-filter: saturate(200%) blur(10px);
    z-index: 2; 
}

.logo{
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.logo-img{
    width: 40%;
    height: auto;
}

.logo-text{
    color: #fff;
    font-size: 2rem;
}

.logo-text:hover{
    color: #cdba6d;
}

nav{
    width: 60%;
}

nav ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav li{
    font-size: 1.1rem;
    font-family: "Poppins", serif;
    color: #fff;
}

nav li:hover{
    color: #cdba6d;
    cursor: pointer;
} 

#menu-icon{
    display: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}
/* HEADER */


/* INICIO COM FOTO, TEXTO E READ MORE */

/* PARA ESCURECER A IMAGEM */
.modal{
    width: 100%;
    height: 110vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

/* IMAGEM */
.home-container{
    background-image: url(images/background-3.png);
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
}

/* TEXTOS DE WELCOME */
.presentation-container{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-top: 150px;
    padding: 10px;
    color: #fff;
    z-index: 1;
}

.presentation-container h3{
    letter-spacing: 10px;
    font-family: "Poppins", serif;
    font-weight: 300;
}

.presentation-container h1{
    font-size: 5rem;
    text-align: center;
}

.presentation-container span{
    color: #cdba6d;
}

.presentation-container p{
    text-align: center;
    font-size: 1.1rem;
    font-family: "Poppins", serif;
    font-weight: 500;
}

.presentation-container button{
    width: 150px;
    height: 50px;
    background-color: #cdba6d;
    color: black;
    font-family: "Poppins", serif;
    font-weight: 500;
    border: 2px solid #c8b050;
    margin-top: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.presentation-container button:hover{
    background: transparent;
    color: #fff;
}
/* INICIO COM FOTO, TEXTO E READ MORE */


/*QUADRADOS COM INFORMAÇÕES */

/* DIV COM OS QUADRADOS */
.destaks-container{
    width: 100%;
    height: 400px;
    padding: 0 100px;
    position: absolute;
    top: 90vh;
}

/* QUADRADOS COM AS INFORMACÕES */
.destaks-content{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
}

/* O QUE TEM DENTRO DO QUADRADO */
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    color: #fff;
    padding: 0 110px;
}

#square-1{
    background-color: #353e47;
    padding: 0 100px;
}

#square-1 i{
    color: #c8b050;
    font-size: 3rem;
}

.destaks-span{
    font-size: 1.2rem;
    font-weight: bold;
}

.destaks-paragraph{
    text-align: center;
    font-family: "Poppins", serif;
    font-size: 1rem;
    font-weight: 500;
}


#square-2{
    background-color: #323a43;
    padding: 0 100px;
}

#square-2 i{
    color: #c8b050;
    font-size: 3rem;
}

#square-3{
    background-color: #2e353d;
    padding: 0 100px;
}

#square-3 i{
    color: #c8b050;
    font-size: 3rem;
}


/* DIVISÃO ENTRE O "TÍTULO" E O TEXTO */
.divider{
    border: none;
    border-top: 3px solid #c8b050;
    border-radius: 20px;
    margin: 10px 0;
    width: 45%;
}

/*QUADRADOS COM INFORMAÇÕES */


/* TEXTO COM HOMEM E ASSINATURA */
.welcome-container{
    width: 100%;
    height: 120vh;
    background-color: #fff;
}

.signature-container{
    width: 100%;
    height: 100%;
    display: flex;
}

.signature-content{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
}

.signature-text{
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    padding: 0 10px;
    margin-bottom: 90px;
}

.signature-title{
    width: 100%;
}

.signature-title h1{
    font-size: 2.5rem;
    color: #cdba6d;
}

.signature-title h4{
    font-weight: 300;
    letter-spacing: 3px;
}

.signature-text span{
    font-weight: bold;
    font-family: "Poppins", serif;
}

.signature-text p{
    font-family: "Poppins", serif;
    text-align: justify;
}

.signature-button-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.signature-button-container button{
    width: 150px;
    height: 50px;
    background-color: #cdba6d;
    color: #000;
    font-family: "Poppins", serif;
    font-weight: 500;
    border: 2px solid #c8b050;
    font-size: 1rem;
    cursor: pointer;    
}

.signature-button-container button:hover{
    background-color: transparent;
    color: #000;
}

.signature-button-container img{
    width: 100px;
    height: auto;
}

.attorney-container{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.attorney-img{
    margin-left: 50px;
}
/* TEXTO COM HOMEM E ASSINATURA */


/* FORMULARIO E FOTO */
.form-container{
    width: 100%;
    height: 150vh;
    display: flex;
}

.form-img{
    background-image: url(images/banner1.jpg);
    background-position: 50% 50%;
    background-size: cover;
    width: 50%;
    height: 100%;
}

.form-content{
    width: 50%;
    height: 100%;
    background-color: #323a43;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding: 120px 80px 60px 80px;
}

.form-title{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: column;
}

.form-title h2{
    margin: 0;
    font-size: 1.2rem;
    letter-spacing: 6px;
    font-weight: 500;
    color: #fff;
}

.form-title h1{
    margin: 0;
    font-size: 2.5rem;
    color: #c8b050;
}

#form-divider{
    width: 15%;
}

.form-description{
    text-align: justify;
    color: #fff;
    font-family: "Poppins", serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
}

.form-inputs{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.first-inputs{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input-container{
    display: flex;
    align-items: center;
    height: 50px;
    width: 49%;
}

.user-input{
    width: 100%;
    height: 100%;
    font-family: "Poppins", serif;
    font-size: 1.1rem;
    color: #2e353d;
    padding: 0 10px;
    border: none;
    outline: none;
}

#user-phone-input{
    width: 100%;
    margin-top: 10px;
}

#user-message-input{
    width: 100%;
    height: 200px;
    margin-top: 10px;
}

#user-message{
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    resize: none;
    font-family: "Poppins", serif;
    font-size: 1.1rem;
    color: #2e353d;
    padding: 10px;
    border: none;
    outline: none;
}

.submit-button{
    width: 175px;
    height: 60px;
    background-color: #c8b050;
    color: #2e353d;
    font-family: "Poppins", serif;
    font-weight: 500;
    border: 2px solid #cdba6d;
    font-size: 1.1rem;
    margin-top: 60px;
    cursor: pointer;
}

.submit-button:hover{
    background-color: transparent;
    color: #fff;
}
/* FORMULARIO E FOTO */


/* OUR SERVICES */
.our-services-container{
    width: 100%;
    height: 110vh;
    background-color: #323a43;
    display: flex;
    flex-direction: column;
}

/* TITULOS */
.our-services-title{
    width: 100%;
    height: 30%;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-services-title h2{
    margin: 0;
    font-size: 1.3rem;
    letter-spacing: 6px;
    font-weight: 500;
    color: #fff;
}

.our-services-title h1{
    margin: 0;
    font-size: 3.5rem;
    color: #c8b050;
}

/* TAMANHO DO DIVISOR */
#our-services-divider{
    width: 5%;
}

/* QUADRADOS COM OS SERVIÇOS */
.our-services-content{
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 120px;
    margin-top: 50px;
}

.our-services-square{
    width: 100%;
    height: 200px;
    display: flex;
}

/* ICONE */
.our-services-icon{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#service-icon{
    color: #c8b050;
    font-size: 3rem;
}


/* TEXTO E TITULO */
.our-services-text{
    width: 85%;
    height: 100%;
    padding: 20px 40px 0px 10px;
}

 .services-title{
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 25px;
 }

 /* .services-title:hover{
    color: #c8b050;
    cursor: pointer;
 } */

 .services-description{
    color: #fff;
    font-family: "Poppins", serif;
    font-size: 1.1rem;
    font-weight: 500;
 }
/* OUR SERVICES */


/* TESTIMONIALS */
 .testimonials-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
 }

 .testimonials-title{
    width: 100%;
    height: 30%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .testimonials-title h2{
    color: #5c6f87;
    margin: 0;
    font-size: 1.3rem;
    letter-spacing: 6px;
    font-weight: 500;
 }

 .testimonials-title h1{
    margin: 0;
    font-size: 3.5rem;
    color: #c8b050;
 }

 .testimonials-cards-container{
    width: 100%;
    height: 600px;
    padding: 0 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
 }

 .cards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding: 10px 40px 40px 40px;
    background-color: #f8f8f9;
    box-shadow: -1px 5px 7px 0 rgba(0, 0, 0, 0.15);
 }

 .testimonial-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 50%;
 }

 #testimony-icon{
    font-size: 3rem;
    color: #c8b050;
    opacity: 0.5;
 }

 .testimony{
    text-align: center;
    color: #5c6f87;
    font-size: 1.2rem;
    font-family: "Poppins", serif;
    font-style: italic;
 }

 .testimonial-name{
    font-size: 1.5rem;
    color: #2e353d;
 }

 .testimonial-profession{
    font-size: 1.3rem;
    color: #c8b050;
    font-family: "Poppins", serif;
 }

 #testimonial-1{
    background-image: url(images/testimonials01.jpg);
 }

 #testimonial-2{
    background-image: url(images/testimonials02.jpg);
 }

 #testimonial-3{
    background-image: url(images/testimonials03.jpg);
 }

/* TESTIMONIALS */

/* CONTATO */  
.header-color{
    width: 100%;
    height: 100px;
    background-color: #2e353d;
}
.modal-contact{
    width: 100%;
    height: 500px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
}

.contact-text{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-top: 150px;
    padding: 10px;
    color: #fff;
    z-index: 1;
}

.contact-text h1{
    font-family: "Poppins", serif;
    font-size: 1.4rem;
    letter-spacing: 6px;
    font-weight: 700;
    color: #c8b050;
}

.contact-text p{
    font-family: "Poppins", serif;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 500;
}

#contact-footer{
    width: 100%;
    height: 400px;
}


/* IMAGEM */
.contact-img-container{
    background-image: url(images/banner2.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

/* TEXTOS DE CONTATO */
.contact-text{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-top: 150px;
    padding: 10px;
    color: #fff;
    z-index: 1;
}

.contact-text h1{
    letter-spacing: 10px;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
}

.contact-text p{
    text-align: center;
    font-size: 1.1rem;
    font-family: "Poppins", serif;
    font-weight: 500;
}
/* TEXTOS DE CONTATO */

/* QUADRADO DE CONTATO */

/* DIV COM OS QUADRADOS */
.contact-container{
    width: 100%;
    height: 400px;
    padding: 0 100px;
    position: absolute;
    top: 60vh;
}

/* QUADRADOS COM AS INFORMACÕES */
.contact-content{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    row-gap: 20px;
}

/* O QUE TEM DENTRO DO QUADRADO */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    color: #fff;
    padding: 0 110px;
}

/* TELEPHONE */
#phone-contact{
    background-color: #353e47;
    padding: 0 100px;
}

#phone-contact i{
    color: #c8b050;
    font-size: 3rem;
}

.contact-paragraph{
    text-align: center;
    font-family: "Poppins", serif;
    font-size: 1rem;
    font-weight: 500;
}

#telephone{
    background-color: #cdba6d;
    color: #000;
    font-family: "Poppins", serif;
    font-weight: 500;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #c8b050;
}

#telephone:hover{
    background-color: transparent;
    color: #fff;
}

/* EMAIL */
#email-contact{
    background-color: #323a43;
    padding: 0 100px;
}

#email-contact i{
    color: #c8b050;
    font-size: 3rem;
}


.contact-paragraph{
    text-align: center;
    font-family: "Poppins", serif;
    font-size: 1rem;
    font-weight: 500;
}

#email{
    background-color: #cdba6d;
    color: #000;
    font-family: "Poppins", serif;
    font-weight: 500;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #c8b050;
}

#email:hover{
    background-color: transparent;
    color: #fff;
}
/* CONTATO */   


/* FOOTER */
footer{
    width: 100%;
    height: 300px;
    background-color: #2e353d;
    display: flex;
}

.footer-container{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.icon-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    margin: 20px;
}


.icon-divider{
    border: none;
    border-top: 3px solid #c8b050;
    border-radius: 20px;
    margin: 30px 30px;
    width: 15%;
}


#facebook-icon{
    font-size: 1.4rem;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

#facebook-icon:hover{
    color: #3b5998;
}

#linkedin-icon{
    font-size: 1.4rem;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

#linkedin-icon:hover{
    color: #0e76a8;
}


#instagram-icon{
    font-size: 1.4rem;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

#instagram-icon:hover{
    color: #C13584;
}


.logo-container{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-footer{
    width: 70px;
    height: auto;
    padding: 10px;
}

.logo-text-footer{
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
}

.copyright{
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 5px;
    margin-top: 30px;
}

.made-by{
    color: #fff;
    font-size: 0.7rem;
    letter-spacing: 5px;
    margin-top: 10px;
}
/* FOOTER */


/* SOBRE NOS */
.about-us-container{
    width: 100%;
    height: 500px;
    display: flex;
    background-color: #353e47;
    padding: 0 70px;
}

.about-us-container h1{
    font-family: "Poppins", serif;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 4px;
    color: #c8b050;
    margin-bottom: 20px;
}

.about-us-container p{
    font-family: "Poppins", serif;
    font-size: 1.1rem;
    color: #fff;
    text-align: justify;
}

.img-container{
    background-position: 50% 50%;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-img{
    background-image: url(images/group-businesspeople.jpg);
    width: 500px;
    height: 250px;
    background-size: cover;
}

.about-us-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* SOBRE NOS */


/* NOSSA MISSAO */
.our-mission-container{
    width: 100%;
    height: 400px;
    display: flex;
    padding: 0 90px;
}

.our-mission-container h1{
    font-family: "Poppins", serif;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 4px;
    color: #c8b050;
    margin-bottom: 20px;
}

.our-mission-container p{
    font-family: "Poppins", serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: #000;
    text-align: justify;
}

.img-container{
    background-position: 50% 50%;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-misison-img{
    background-image: url(images/businesspeople-having-discussion-office.jpg);
    width: 500px;
    height: 250px;
    background-size: cover;
}

.our-mission-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* NOSSA MISSAO */


/* NOSSA VISÃO */
.our-vision-container{
    width: 100%;
    height: 400px;
    display: flex;
    padding: 0 90px;
}

.our-vision-container h1{
    font-family: "Poppins", serif;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 4px;
    color: #c8b050;
    margin-bottom: 20px;
}

.our-vision-container p{
    font-family: "Poppins", serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: #000;
    text-align: justify;
}

.img-container{
    background-position: 50% 50%;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-vision-img{
    background-image: url(images/lawyers-reunion.jpg);
    width: 500px;
    height: 250px;
    background-size: cover;
}

.our-vision-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* NOSSA VISÃO */



/* NOSSOS VALORES */

.our-values-text{
    font-family: "Poppins", serif;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 4px;
    color: #c8b050;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
}


/* SECTION COM OS QUADRADOS */
.our-values-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.our-values-container ul{
    background-color: #5c6f87;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    border-radius: 20px;
}

.our-values-container li{
    font-size: 1.1rem;
    font-family: "Poppins", serif;
    color: #fff;
    padding: 20px;
    cursor: default;
}

#our-values-divider{
    width: 50%;
}

.our-values-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.our-values-title:hover{
    color: #c8b050;
}

.our-values-paragraph{
    font-family: "Poppins", serif;
    font-size: 1rem;
    font-weight: 300;
    padding-top: 10px;
}

#our-values-icon{
    color: #c8b050;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* NOSSOS VALORES */



/* MEDIA QUERIE */

/* DESKTOP*/
@media (max-width: 1920px){
    .welcome-container{
        height: 90vh;
    }

    #square-2{
        padding: 0 110px;
    }

    .form-container{
        height: 100vh;
    }

    .contact-container{
        margin-top: -10%;
    }

}

@media (max-width: 1440px) {

    .content{
        padding: 0 90px;
    }

    #square-1{
        padding: 0 90px;
    }

    #square-2{
        padding: 0 90px;
    }

    .welcome-container{
        height: 120vh;
    }

    .testimonials-container{
        height: 120vh;
    }

    .testimonials-cards-container{
        padding: 0 100px;
    }

    .post-content{
        padding: 0 55px 0 10px;
    }

    .form-container{
        height: 150vh;
    }

    .contact-container{
        margin-top: 0%;
    }
}

@media (max-width: 1280px){
    header{
        padding: 0 40px;
    }

    .destaks-container{
        padding: 0 40px;
        margin-top: 50px;
    }

    #square-3{
        padding: 0 100px;
    }

    #square-1{
        padding: 0 80px;
    }

    .welcome-container{
        height: 140vh;
    }

    .testimonials-container{
        height: 130vh;
    }

    .testimonials-cards-container{
        padding: 0 110px;
    }

    .our-services-container{
        height: 150vh;
    }

    footer{
        padding: 50px 10px 0 10px;
        height: 50vh;
    }

    .footer-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-container{
        padding: 0 10px;
        margin-top: 5%;
    }

    .contact-content{
        padding: 10px0 10px ;
    }

    #form-divider{
        margin-top: 50px;
    }

}

@media (max-width: 1024px){

    .destaks-container{
        padding: 0 20px;
    }

    .our-services-content{
        padding: 0 20px;
    }

    #square-1{
        padding: 0 40px;
    }

    #square-2{
        padding: 0 50px;
    }

    #square-3{
        padding: 0 40px;
    }

    .testimonials-cards-container{
        padding: 0 50px;
    }

    .form-content{
        padding: 120px 20px 60px 20px;
    }

    footer{
        padding: 50px 10px 0 10px;
        height: 50vh;
    }

    .footer-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-us-container{
        padding: 0 20px;
    }

    .about-us-text{
        padding: 0 30px;
    }

    .about-us-img{
        padding: 0 20px;
    }

    .our-mission-container{
        padding: 0 20px;
    }

    .our-mission-text{
        padding: 0 30px;
    }

    .our-mission-img{
        padding: 0 20px;
    }

    .our-vision-container{
        padding: 0 20px;
    }

    .our-vision-text{
        padding: 0 30px;
    }

    .our-vision-img{
        padding: 0 20px;
    }

    .our-values-container{
        padding: 20px;
    }



}

/* TABLETS */
@media(max-width: 835px){

        .home-container{
            background-position: 70% 50%;
            align-items: center;
        }

        .presentation-container{
            width: 90%;
            margin-top: 0;
        }

        .destaks-container{
            padding: 0 30px;
            top: 100vh;
        }

        .destaks-content{
            grid-template-columns: repeat(1, 1fr);
            row-gap: 10px;
        }

        .content{
            height: 300px;
            row-gap: 10px;
            padding: 0 20px;
        }

        #square-2{
            margin-top: -100px;
        }

        .welcome-container{
            height: 150vh;
        }

        .signature-text{
            width: 95%;
            height: 30%;
            row-gap: 30px;
            padding: 0 10px;
        }

        .attorney-img{
            margin-left: 10px;
            width: 90%;
        }

        .our-services-content{
            grid-template-columns: repeat(2, 1fr);
        }

        #our-services-divider{
            width: 20%;
        }

        .testimonials-container{
            height: 100vh;
        }

        .testimonials-cards-container{
            padding: 0 50px;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 30px;
            margin-bottom: 30px;
        }

        #card-1{
            display: none;
        }
        
        .form-container{
            flex-direction: column;
            height: 130vh;
        }

        .form-img{
            height: 30%;
            width: 100%;
        }

        .form-content{
            width: 100%;
            height: 70%;
            padding: 120px 40px 60px 40px;
            row-gap: 30px;
        }

        #form-divider{
            width: 15%;
            margin-top: 40px;
        }

        footer{
            padding: 100px 40px 0 40px;
            height: 40vh;
        }

        .about-us-container p{
            text-align: center;
        }

        .our-mission-container p{
            text-align: center;
        }

        .our-vision-container p{
            text-align: center;
        }

        .our-values-container{
            padding: 5px;
            margin-bottom: 20px;
        }

        .our-values-container ul{
            padding: 20px
        }

        .our-values-container li p{
            text-align: start;
        }

        #value-1{
            padding: 3px;
        }

        #value-2{
            padding: 2px;
        }

        .contact-container{
            margin-top: -15%;
        }
    
        .contact-content{
            grid-template-columns: repeat(2, 1fr);
        }

        #phone-contact{
            padding: 50px 40px;
        }

        #email-contact{
            padding: 50px 30px;
        }
}

@media (max-width: 768px){
        .welcome-container{
            height: 160vh;
        }

        .attorney-img{
            margin-left: 0;
        }

        .attorney-container{
            width: 55%;
        }

        .signature-content{
            width: 45%;
        }

        .contact-container{
            margin-top: -5%;
        }

        #email-contact{
            padding: 50px 20px;
        }
}

@media (max-width: 600px){

        .logo{
            justify-content: start;
        }

        .logo-text{
            font-size: 1.2rem;
        }

        .logo-img{
            width: 25%;
        }

        nav{
            width: 75%;
        }

        nav li{
            font-size: 0.8rem;
        }

        .welcome-container{
            height: 220vh;
        }

        .signature-container{
            flex-direction: column;
            justify-content: end;
        }

        .signature-content{
            width: 95%;
            height: 25%;
            justify-content: end;
        }

        .attorney-container{
            width: 95%;
            height: 30%;
            justify-content: center;
            padding: 10px;
        }

        .attorney-img{
            width: auto;
        }

        .our-services-container{
            height: 1000px;
        }

        .our-services-content{
            padding: 0 20px 0 20px;
        }

        #service-icon{
            font-size: 2rem;
        }

        .services-title{
            font-size: 1.3rem;
            margin-bottom: 10px;
        }

        .services-description{
            font-size: 1rem;
         }

        .our-services-text{
            width: 95%;
            padding: 10px 5px 0 5px;
        }

        .testimonials-container{
            height: 1500px;
            padding-top: 20px;
        }

        .testimonials-title{
            text-align: center;
            height: 250px;
            margin-bottom: 50px;
        }

        .testimonials-cards-container{
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;
        }


        footer{
            padding: 20px 40px;
        }

        .logo-footer{
            height: 70px;
            width: auto;
        }

        .logo-text-footer{
            font-size: 1.5rem;
        }

        .form-container{
            height: 140vh;
        }

        .about-us-container{
            height: 400px;
            padding: 5px;
            padding-left: 10px;
        }

        .img-container{
            display: none;
        }

        .about-us-text{
            width: 100%;
        }

        .our-mission-container{
            margin-top: 50px;
            height: 300px;
            padding: 5px;
        }

        .our-mission-text{
            width: 100%;
        }

        .our-vision-container{
            height: 300px;
            margin-bottom: 15px;
            padding: 5px;
        }

        .our-vision-text{
            width: 100%;
            margin-bottom: 10px;
        }

        .our-values-text{
            margin-top: 10px;
            padding-bottom: 30px;
        }

        .our-values-container ul{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            height: 55vh;
            margin-top: 50px;
            margin-bottom: 70px;
        }

        .our-values-container li{
            padding: 20px;
        }

        #value-1{
            padding: 0 20px;
        }

        #value-2{
            padding: 0 20px;
        }

        .contact-text{
            width: 80%;
        }

        .contact-container{
            margin-top: -15%;
            height: 500px;
        }

        .contact-paragraph{
            font-size: 0.8rem;
        }

        #phone-contact{
            padding: 0 10px;
        }

        #phone-contact i{
            font-size: 2rem;
        }

        #email-contact i{
            font-size: 2rem;
        }

        #email-contact{
            padding: 0 5px;
        }
}


/* MOBILE */
@media (max-width: 431px){

    header{
        padding: 15px;
    }

    .logo-img{
        width: 20%;
    }

     nav{
        width: 100%;
        }

    nav ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
    }

    nav li{
        font-size: 0,8rem;
    }

    .home-container{
        display: flex;
        justify-content: center;
    }

    .presentation-container{
        width: 100%;
        height: 60%;
    }

    .presentation-container h3{
        text-align: center;
    }

    .presentation-container h1{
        font-size: 3rem;
    }

    .destaks-container{
        padding: 0 10px;
    }

    .welcome-container{
        padding-top: 10px;
        height: 2000px;
        align-items: end;
        margin-bottom: -10px;
    }

    .signature-content{
        height: 600px;
    }

    .signature-text{
        width: 95%;
        height: 90%;
        row-gap: 10px;
        margin-bottom: 10px;
    }

    .attorney-container{
        height: 400px;
    }

    .attorney-img{
        margin-left: 10px;
        width: auto;
        height: 390px;
    }

    .form-container{
        height: 200vh;
    }

    .form-content{
        padding: 120px 10px 60px 10px;
    }

    .form-title h2{
        font-size: 1rem;
    }

    .form-title h1{
        font-size: 2rem;
    }

    footer{
        padding: 50px 10px 0 10px;
        height: 50vh;
    }

    .our-vision-container{
        height: 400px;
        margin-top: 20px;
    }

    .our-values-text{
        padding-bottom: 5px;
        font-size: 1rem;
        margin-bottom: -20px;
    }
    .our-values-container{
        height: 160vh;
        padding: 0 30px;
    }

    #our-values-icon{
        font-size: 1.7rem;
        margin-bottom: 3px;
    }

    .our-values-container ul{
        grid-template-columns: repeat( 1, 1fr);
        height: 150vh;
        margin-bottom: 10px;
    }

    .our-values-container p{
        margin-top: 10px;
    }

    .our-services-container{
        height: 1550px;
    }

    .our-services-title{
        margin-top: 120px;
        padding-top: 20px;
        height: 15%;
    }

    .our-services-title h1{
        text-align: center;
    }

    #our-services-divider{
        width: 30%;
    }

    .our-services-content{
        grid-template-columns: repeat(1, 1fr);
    }

    .testimonials-container{
        height: 110vh;
        padding: 10px;
    }

    .testimonials-cards-container{
        padding: 0 5px;
    }

    .testimonials-title h1{
        font-size: 2.5rem;
    }

    #cards{
        margin-bottom: 20px;
    }

    .our-services-title{
        text-align: center;
        padding: 0 10px;
    }

    .our-services-container{
        height: 1700px;
    }

    .testimonials-container{
        height: 1600px;
    }

    .contact-text{
        width: 100%;
        text-align: start;
        padding: 0 30px;
    }

    .contact-text h1{
        font-size: 1.5rem;
    }

    .contact-text p{
        font-size: 1rem;
    }

    .contact-container{
        /* height: 1000px; */
        margin-top: 200px;
    }

    .contact-content{
        grid-template-columns: repeat(1,1fr);
        row-gap: 30px;
        padding: 10px;
    }

    .contact{
        height: auto;
        row-gap: 30px;
    }

    #phone-contact{
        height: 400px;
    }

    #email-contact{
        height: 400px;
        margin-top: -90px;
    }

    #contact-footer{
        height: 900px;
    }

}


/* MEDIA QUERIE */